################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheGiverOnMars/DesignTimeBuild
/.vs/TheGiverOnMars/v16
/TheGiverOnMars/bin
